<br><br>
<h3>Total: {{total}}</h3>
<div class="container">
  <div class="row">
  {{# each spends}} 
  <div class="col col-md-4">
  <div class="card" style="width: 18rem;">
    <img src={{image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Name: {{name}}</h5>
      <h5 class="card-title">Price: {{price}}</h5>
      <h5 class="card-title">Description: {{description}}</h5>
       </div>
  </div>
  </div>
 {{/each}}
 </div>
</div>